/*body {
    font: 16pt Arial, sans-serif;
}*/
.navbar {
    background-color: #47585a;
    font: 16pt Arial, sans-serif;
}
.quem-somos {
    background-color: #e1e7e7;
    color: #242424;
}
.margin {
    padding: 20px;
}
.parceiros {
    background-color: #2f4142;
    color: #fff;
}
.servicos {
    background-color: #e1e7e7;
    color: #242424;
}
.rodape {
    background-color: #252525;
    color: #ffffff;
}
.img-parceiros {
    background-color: #fff;
    border-radius: 10px;
}
.img-services {
    border: 2px solid #252525;
    border-radius: 20px;
}